{% extends "registration/registration_base.html" %}
{% block title %}Login{% endblock %}
{% block csslinks %}
<link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/social-buttons-3.css">
<style type="text/css">
.account-box
{
    border: 2px solid rgba(153, 153, 153, 0.75);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.forgotLnk
{
    margin-top: 10px;
    display: block;
}

.purple-bg
{
    background-color: #6E329D;
    color: #fff;
}
.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
.or
{
    color: #666666;
    /*background-color: #ffffff;    */
    text-align: center;
    top: -14px;
    position: absolute;
    width: 100%;
    font-size: 1.5em;
    
}
.account-box .btn:hover
{
    color: #fff;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="account-box">
                <h2 style="border-bottom:2px solid #EEBE24; margin-top:0;">Login</h2>                
                <div class="row" style="padding-top:5px;">
                    <div class="col-md-6 row-block">
                       <a class="btn btn-facebook btn-block" href="/socialauth/login/facebook/"><i class="fa fa-facebook"></i></i> | with Facebook</a>                       
                    </div>
                    <div class="col-md-6 row-block">
                        <a class="btn btn-google-plus btn-block" href="/socialauth/login/google"><i class="fa fa-google-plus"></i> | with Google</a>                        
                    </div>
                </div>
                <div class="row" style="padding-top:5px;">
                    <div class="col-md-6 row-block">
                       <a class="btn btn-twitter btn-block" href="/socialauth/login/twitter"><i class="fa fa-twitter"></i> | with Twitter</a>
                    </div>
                    <div class="col-md-6 row-block">
                       <a class="btn btn-linkedin btn-block" href="/socialauth/login/linkedin"><i class="fa fa-linkedin"></i> | with LinkedIn</a>
                    </div>                   
                </div>              
                <div class="or-box">
                    <span class="or">OR</span>                   
                    <form class="form-signin" method="post" action="{% url 'auth_login' %}">{% csrf_token %}
                    {% if form.errors %}
                    <div class="errors"> 
                        <p>Your username and password didn't match.<br>Please try again.</p>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="UserName" required autofocus />
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
                    </div>
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me" />
                        Keep me signed in
                    </label>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button class="btn btn-lg btn-block purple-bg" type="submit">
                        Sign in</button>
                    </form>
                    <a class="forgotLnk" href="{% url 'auth_password_reset' %}">I can't access my account</a>
                </div>
                <div class="or-box row-block">
                    <div class="row">
                        <div class="col-md-12 row-block">
                            <a href="{% url 'registration_register' %}" class="btn btn-primary btn-block">Create New Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}