{% extends "registration/registration_base.html" %}
{% block title %}Confirm password reset{% endblock %}
{% block content %}
<div class="container">
<p class="lead">Enter your new password below to reset your password:</p>



<form class="form-inline" method="post" action="">{% csrf_token %}

  <div class="form-group">
    <label class="sr-only" for="id_new_password1">New password:</label>
    <input class="form-control" id="id_new_password1" placeholder="New password" name="new_password1" type="password" />
  </div>

  <div class="form-group">
    <label class="sr-only" for="id_new_password2">New password confirmation:</label>
    <input class="form-control" id="id_new_password2" name="new_password2" placeholder="Password Confirmation" type="password" />
  </div>
  
  <button type="submit" class="btn btn-default">Set password</button>
  {% if form.errors %}
  <div class="form-group">
	<span class="errors">
	{% for err in form %}
		{{ err.errors.as_text }}	
	{% endfor %}
	</span>

  </div> 
  {% endif %}
</form>
<br />
<a class="btn btn-default" href="{% url 'auth_login' %}">Back to login</a><a class="btn btn-default" href="{% url 'public_home' %}">Public Notes</a>

</div>
{% endblock %}
