/* used for ajax loding. please visit http://jsfiddle.net/suhailvs/VpDUG/3453/ 
===========================================================================*/
.ajaxloading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajaxloading {
    display: block;
}
/* end ajax loading */

/* usage 
================================
load this css
<link rel="stylesheet" href="{{ STATIC_URL }}css/ajaxloading_disable_input.css">

jquery script
-------------

$(document).ajaxStart(function() {
	$('body').addClass("loading"); 
});
$(document).ajaxStop(function() {
	$('body').removeClass("loading"); 
});

HTML
----

<div class="ajaxloading">
	<!-- Place at bottom of page -->
</div>
*/
