
<style>.panel-body{background: #F3EED5;} .spaces{background: #fff;padding-right: 10px;}</style>
<div class="panel-group" id="accordion">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Headers
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

      	<div class="row">
		  <div class="col-md-5">
		  	# Text<br />
			## Text <br />
			### Text<br /> 
			#### Text<br /> 
			##### Text<br /> 
			###### Text <br />
			<hr>
			*Emphasis* 
			**Strong** <br />
			`printf()`

		  </div>
		  <div class="col-md-7">
		  	<!--<pre><code class="html">-->
				&lt;h1&gt;Text&lt;/h1&gt;
				&lt;h2&gt;Text&lt;/h2&gt;
				&lt;h3&gt;Text&lt;/h3&gt;
				&lt;h4&gt;Text&lt;/h4&gt;
				&lt;h5&gt;Text&lt;/h5&gt;
				&lt;h6&gt;Text&lt;/h6&gt;<hr>
				&lt;em&gt;Emphasis&lt;/em&gt;
				&lt;strong&gt;Strong&lt;/strong&gt;
				&lt;code&gt;printf()&lt;/code&gt;
				<!--</code>
		  	 </pre>-->
		  </div>
		</div>
        
      </div>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          IMAGEs, URLs and CODEs
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       	<div class="box"> 
       		<ul> 
       		<li> <b>link</b>&nbsp;&nbsp;&nbsp;&nbsp; : [text](http://example.com/)</li> 
       		<li> <b>image</b>&nbsp;: ![alt text](/path/img.jpg)</li> 
       		</ul>
       		<p>
            To create code blocks or other preformatted text, indent by four spaces:
        	</p>
        	<span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;</span>This will be displayed <br />
			<span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;</span>in a monospaced font.<br /> 
			<span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;</span>The first four spaces <br />
			<span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;</span>will be stripped off.
			
		</div>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Numbered Lists
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
		  <div class="col-md-6">
		  	1. First<br />
			2. Second<br />
			3. Third<br />				
				<span class='spaces'>&nbsp;&nbsp;&nbsp;&nbsp;</span>1. Alpha<br />
				<span class='spaces'>&nbsp;&nbsp;&nbsp;&nbsp;</span>2. Bravo
				

		  </div>
		  <div class="col-md-6">
		  	
				&lt;ol&gt;<br />
					&lt;li&gt;First&lt;/li&gt;<br />
					&lt;li&gt;Second&lt;/li&gt;<br />
					&lt;li&gt;Third<br />
						&lt;ol&gt;<br />
							&lt;li&gt;Alpha&lt;/li&gt;<br />
							&lt;li&gt;Bravo&lt;/li&gt;<br />
						&lt;/ol&gt;<br />
					&lt;/li&gt;<br />
				&lt;/ol&gt;<br />

				
		  	 
		  </div>
		</div>

      </div>
    </div>
  </div>  
</div>

