.preview{
	margin: 10px;
	border-bottom:1px solid #ccc;
}

.preview blockquote {
	background-color: #fefbed;
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #f1e7bc;
}