#mainHeader{
    background-color: white;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

#mainHeader .navbar-inner {
	background: #444;
	filter:none !important;
}
#mainMenu ul li a, #resMainMenu ul li a {
	color:#444;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #EEBE24;
	color:#fff;
}

.slides .txt div {
	background:#444;
	color:#FFFFFF;
}
.flexslider .flex-direction-nav a {
	background-color:#EEBE24;
}

.flexslider .flex-control-paging li a:hover, #sliderWrapper .flex-control-paging li a.flex-active{
	background: #fff;
	border:2px solid #fff;
}
.flexslider .flex-control-paging li a {
	background: transparent;
	border:2px solid rgba(255,255,255,0.5);
}
.flexslider .flex-control-nav {
	background:transparent;
}
.flexslider h1 {
	color:#fff;
	background-color:#EEBE24;
}
.flexslider h2 {
	color:#fff;
	background-color:#333;
}
.flexslider .caption p {
	background-color:#fff;
	color:#555
}

/*** flexHome ***/
#flexHome  h1 {	color:#fff;
	background:none;
	}
#flexHome  h2 {	color:#fff;
	background:none;
}

/*** END FLEX SLIDER ***/
#home h1 {color:#FFFFFF;}
#home {background-color:#000;}
	/*
	background-color:#EEBE24;
}
#home {
	background-image:url('http://www.zingerbugimages.com/backgrounds/bright_yellow_vertical_stripes_background_seamless.jpg');
}*/